﻿body {
    margin: 0;
    padding: 0;
}

div.body-content {
    padding: 0;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


div.galeria img {
    width: 100%;
    height: 400px !important;
}


@media(max-width: 400px) and (max-height: 400px) {

    div.galeria img {
        width: 100%;
        height: 200px !important;
    }

    footer {
        display: none;
    }
}


@media(max-width: 1200px) {

    div.galeria img {
        width: 100%;
        height: 400px !important;
    }

    footer {
        display: none;
    }
}
