﻿
@media only screen and (max-width: 800px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

    table tr:first-child{
        display: none;
    }

	tr { 
        border: 1px solid #ccc; 
        margin-bottom: 10px;
	}

	/*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Imie : ";
    }

    td:nth-of-type(2):before {
        content: "Nazwisko : ";
    }

    td:nth-of-type(3):before{
       content: "Zdjęcie : ";
    }

    td:nth-of-type(4):before {
        content: "Nr tel : ";
    }

    td:nth-of-type(5):before {
        content: "Email : ";
    }

    td:nth-of-type(6) {
        content: "Akcja : ";
    }
    
    td:hover{
        background-color: azure;
    }

}

/*Preloader*/

div.ladowanie {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    animation: rotate 0.8s infinite linear;
    border: 10px solid #3498db;
    border-right-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    display: none;
    box-sizing: border-box;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*End preloader*/

/*Active sort*/
div.data-select a.active {
    color: black;
    border-bottom: 1px solid black;
}
/*end active sort*/