﻿
/*mobile*/
@media only screen and (max-width: 1200px), (min-device-width: 1200px) and (max-device-width: 1200px) {

    p a.dodajNowegoPacjenta {
        min-width: 100%;
    }


    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        table tr:first-child {
            display: none;
        }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Imie : ";
    }

    td:nth-of-type(2):before {
        content: "Nazwisko : ";
    }

    td:nth-of-type(3):before {
        content: "Pesel : ";
    }

    td:nth-of-type(4):before {
        content: "Płeć: ";
    }

    td:nth-of-type(5):before {
        content: "Data urodzenia : ";
    }

    td:nth-of-type(6):before {
        content: "Tel : ";
    }

    td:nth-of-type(7):before {
        content: "Data rejestracji : ";
    }


    td:hover {
        background-color: azure;
    }
}

/*Kolory przyciski*/

a.btn-success {
    background: dodgerblue;
}

/*Preloader*/

@media screen and (min-width: 1100px) {
    div.ladowanie {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        animation: rotate 0.8s infinite linear;
        border: 10px solid #3498db;
        border-right-color: transparent;
        border-radius: 50%;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 99999999;
        display: none;
    }
}

@media screen and (max-width: 1100px){
    div.ladowanie {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        width: 50px;
        height: 50px;
        animation: rotate 0.8s infinite linear;
        border: 10px solid #3498db;
        border-right-color: transparent;
        border-radius: 50%;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 99999999;
        display: none;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*End preloader*/

div.data-select a.active {
    color: black;
    border-bottom: 1px solid black;
}
