﻿*{
   box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16.8px;
    font-family: 'Open Sans',Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input[type=text], input[type=password], input[type=submit], img, p, canvas, div.ui-menu-item-wrapper, button, div.fc-content, select {
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}



    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
        background-color: #ddd;
        outline: none;
        border-color: dodgerBlue;
        box-shadow: 0 0 15px 1px dodgerBlue;
    }


    button:hover, input[type="submit"]:hover {
        opacity: .8;
    }

footer {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}


/*Modal animation*/
.modal.fade .modal-dialog {
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
}
/*End modal animation*/
.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/*modal style*/

.modal-success {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dff0d8), to(#c8e5bc));
    background-image: -webkit-linear-gradient(#dff0d8 0%, #c8e5bc 100%);
    background-image: -moz-linear-gradient(#dff0d8 0%, #c8e5bc 100%);
    background-image: -o-linear-gradient(#dff0d8 0%, #c8e5bc 100%);
    background-image: linear-gradient(#dff0d8 0%, #c8e5bc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    border-color: #b2dba1;
    border-radius: 6px 6px 0 0;
}

.modal-info {
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#d9edf7), to(#b9def0));
    background-image: -webkit-linear-gradient(#d9edf7 0%, #b9def0 100%);
    background-image: -moz-linear-gradient(#d9edf7 0%, #b9def0 100%);
    background-image: -o-linear-gradient(#d9edf7 0%, #b9def0 100%);
    background-image: linear-gradient(#d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    border-color: #9acfea;
    border-radius: 6px 6px 0 0;
}

.modal-warning {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcf8e3), to(#f8efc0));
    background-image: -webkit-linear-gradient(#fcf8e3 0%, #f8efc0 100%);
    background-image: -moz-linear-gradient(#fcf8e3 0%, #f8efc0 100%);
    background-image: -o-linear-gradient(#fcf8e3 0%, #f8efc0 100%);
    background-image: linear-gradient(#fcf8e3 0%, #f8efc0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    border-color: #f5e79e;
    border-radius: 6px 6px 0 0;
}

.modal-danger {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2dede), to(#e7c3c3));
    background-image: -webkit-linear-gradient(#f2dede 0%, #e7c3c3 100%);
    background-image: -moz-linear-gradient(#f2dede 0%, #e7c3c3 100%);
    background-image: -o-linear-gradient(#f2dede 0%, #e7c3c3 100%);
    background-image: linear-gradient(#f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    border-color: #dca7a7;
    border-radius: 6px 6px 0 0;
}

/*end modal style*/
@media screen and (min-width: 700px) and (max-width: 1200px) {
    body {
        padding-top: 100px;
    }
}
