﻿/*table style*/
table {
    width: 100%;
    box-shadow: 2px 4px 14px rgba(0,0,0,0.16),0 2px 10px 2px rgba(0,0,0,0.12) !important;
    font-size: 15px;
}


    table tr:first-child {
        background-color: aqua;
    }

    table tr:nth-child(2n+2) {
        background-color: azure;
    }

    table tr:not(:first-child):hover {
        background-color: antiquewhite;
    }

.table > tbody > tr{
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition:  0.6s;
    transition: 0.6s;
}

.table > tbody > tr > td{
    vertical-align: middle;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition:  0.3s;
    transition: 0.3s;
}
