﻿body{
    margin: 0;
}

div#aktualnyCzas::before {
    font-weight: bold;
    content: "Dziś: ";
}

div#aktualnyCzas {
    margin: 10px 0;
    font-size: 18px;
    padding: 10px;
}

table tbody tr {
    height: 5px;
}



input#txtStart,
input#txtDescription,
input#tytul,
select#txtSelect,
textarea#txtDescription {
    max-width: 100%;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-size: 16px;
}

td.fc-event-container:hover, div.fc-event-container a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

@media only screen and (max-width: 760px) {

    div.modal-footer button {
        margin-right: 5px;
    }

    div.fc-toolbar.fc-header-toolbar {
        font-size: 9px;
    }

    div.fc-view, div.fc-view > table {
        font-size: 12px;
    }

    .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
        padding: 2px;
        font-size: 10px;
    }
}

.modal {
    overflow: hidden;
}

/*Preloader*/

div.ladowanie {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    animation: rotate 0.8s infinite linear;
    border: 10px solid #3498db;
    border-right-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    display: none;
    z-index: 99999;
    box-sizing: border-box;
}


/*End preloader*/

/*Loading*/

div.loader {
    height: 18px;
    width: 18px;
    animation: rotate 0.8s infinite linear;
    border: 2px solid white;
    border-right-color: transparent;
    border-radius: 50%;
    overflow: hidden;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*End loading*/

tr:hover {
    cursor: pointer;
    transition: all 0.3s ease;
}


/*Ui z index*/

.ui-autocomplete {
    z-index: 2147483647;
    font-size: 16px;
    transition: all .3s ease;
}
/*end ui z index*/

/*Info save to database*/

div#saveDatabaseInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
    background: linear-gradient(to bottom, #33cc33 0%, #66ff33 100%);
    width: 50%;
    z-index: 99999999;
    padding: 5px;
    text-align: center;
    display: none;
}

/* End info  save to database*/

/*Overlload kalendar styles*/
.fc-popover .fc-header {
    background: #428bca;
    color: white;
}

.fc-event-container {
    z-index: 9999999;
    background: white;
}


/*end kalendar styles*/

.datepicker,
.table-condensed {
    z-index: 99999999;
}