﻿span.field-validation-error{
    color:red;
    font-weight: bold;
    font-family: Open Sans,'Times New Roman', Times, serif;
}

span.input-validation-error{
    background: pink;
    border: 1px solid red;
}