﻿/*wyszukaj*/

form#wyslij {
    position: relative;
}

span.kasujText {
    position: absolute;
    left: 250px;
    top: 7px;
    display: none;
}

    span.kasujText:hover {
        cursor: pointer;
    }

form.wyszukiwarka {
    margin-bottom: 20px;
}

    form.wyszukiwarka input[type=text] {
        padding: 8px;
        padding-right: 35px;
        font-size: 14px;
        border: 1px solid grey;
        float: left;
        width: 60%;
        background: #f1f1f1;
    }

    form.wyszukiwarka button {
        float: left;
        width: 20%;
        padding: 4px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

        form.wyszukiwarka button:hover {
            background: #0b7dda;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease;
        }

    form.wyszukiwarka::after {
        content: "";
        clear: both;
        display: table;
    }


p a.dodajNowegoPacjenta {
    min-width: 44.6%;
}


@media only screen and (max-width: 500px) {
    form.wyszukiwarka button {
        width: 40%;
    }

    span.kasujText {
        left: 50%;
        top: 7px;
        display: none;
    }
}

@media only screen (min-width: 501px) and (max-width: 1200px) {
    span.kasujText {
        left: 255px;
        top: 7px;
        display: none;
    }
}
