﻿img.rozmiar {
    width: 80px;
    height: 60px;
}

#myImg {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#myImg:hover {
    transform: scale(0.9);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    display: block;
    width: 80%;
    max-height: 90%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes zoom {
    from {
        opacity: 0;
    }

    to {
       opacity: 1;
    }
}

@keyframes zoom {
   from {
        opacity: 0;
    }

    to {
       opacity: 1;
    }
}

/* The Close Button */
div#myModal span.close {
    position: absolute;
    top: 2px;
    right: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: all .3s;
    z-index: 9999;
    opacity: 10;
}

    div#myModal span.close:hover,
    div#myModal span.close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

img.zdjecie {
    width: 40%;
    height: 40%;
}


/*Loading*/

div.loader {
    height: 50px;
    width: 50px;
    animation: rotate 0.8s infinite linear;
    border: 2px solid black;
    border-right-color: transparent;
    border-radius: 50%;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*End loading*/

