﻿@model PagedList.IPagedList<GabinetStomatologiczny.DAO.Models.Lekarz>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity
@using GabinetStomatologiczny.DAO.Models;

<div class="ladowanie"></div>

@if (Model.Count > 0)
{
    <div class="data-select">
        <table class="table">
            <tr>
                <th>
                    Imie
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Zdjęcie
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Email
                </th>
                <th>
                    @Html.DisplayName("Akcja")
                </th>
            </tr>

            <tr>
                <td>
                    @Html.ActionLink("↑", "Index", new { sortOrder = RodzajSort.name_asc, currentFilter = ViewBag.CurrentFilter }
                    ,new {Class= @ViewBag.ActiveClass == RodzajSort.name_asc ? "active" : "", title="Rosnąco" })
                    @Html.ActionLink("↓", "Index", new { sortOrder = RodzajSort.name_desc, currentFilter = ViewBag.CurrentFilter }
                    , new { Class = @ViewBag.ActiveClass == RodzajSort.name_desc ? "active" : "", title = "Malejąco" })
                </td>
                <td>
                    @Html.ActionLink("↑", "Index", new { sortOrder = RodzajSort.surname_asc, currentFilter = ViewBag.CurrentFilter }
                    , new { Class = @ViewBag.ActiveClass == RodzajSort.surname_asc ? "active" : "", title = "Rosnąco" })
                    @Html.ActionLink("↓", "Index", new { sortOrder = RodzajSort.surname_desc, currentFilter = ViewBag.CurrentFilter }
                    , new { Class = @ViewBag.ActiveClass == RodzajSort.surname_desc ? "active" : "", title = "Malejąco" })
                </td>
                <td></td>
                <td>
                    @Html.ActionLink("↑", "Index", new { sortOrder = RodzajSort.nrtel_asc, currentFilter = ViewBag.CurrentFilter }
                    , new { Class = @ViewBag.ActiveClass == RodzajSort.nrtel_asc ? "active" : "", title = "Rosnąco" })
                    @Html.ActionLink("↓", "Index", new { sortOrder = RodzajSort.nrtel_desc, currentFilter = ViewBag.CurrentFilter }
                    , new { Class = @ViewBag.ActiveClass == RodzajSort.nrtel_desc ? "active" : "", title = "Malejąco" })
                </td>
                <td colspan="2">
                    @Html.ActionLink("↑", "Index", new { sortOrder = "email_desc", currentFilter = ViewBag.CurrentFilter }
                    , new { Class = "Akcja", title = "Rosnąco" })
                    @Html.ActionLink("↓", "Index", new { sortOrder = "email_asc", currentFilter = ViewBag.CurrentFilter }
                    , new { Class = "Akcja", title = "Malejąco" })
                </td>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwisko)
                    </td>
                    <td>
                        @if (item.Zdjecie != null)
                        {
                            <img src="~/Obrazki/@Html.DisplayFor(modelItem => item.Zdjecie)" id="myImg" class="rozmiar" />
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.NrTelefonu)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td>
                        @if ((User.Identity.GetUserName() == item.Email && User.Identity.IsAuthenticated)
                        || User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn btn-primary glyphicon glyphicon-edit", title="Edycja" }) <span> | </span>
                            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-info glyphicon glyphicon-trash", title="Kasuj" }) <span> | </span>
                        }

                        @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "btn btn-success glyphicon glyphicon-align-justify", title="Więcej" })

                    </td>



                </tr>
                }

            </table>
            <br />

            <div id="pagination-postion">
                <div class="count">
                    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>

            <div class="text-center">
                Wszystkich: @Model.TotalItemCount
            </div>

        </div>
}
else
{
    <div>Nic nie znaleziono</div>
}

<link href="~/Content/PginationPosition.css" rel="stylesheet" />