﻿@model GabinetStomatologiczny.DAO.Models.Lekarz

<link href="~/Content/Zdjecia.css" rel="stylesheet" />
@{
    ViewBag.Title = "Więcej";
}

<h2>Więcej informacji</h2>

<div>
    <h4>Lekarz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zdjecie)
        </dt>

        <dd>
            @if (Model.Zdjecie != null)
            {
                <img src="~/Obrazki/@Html.DisplayFor(modelItem => Model.Zdjecie)" id="myImg" class="rozmiar" />
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrTelefonu)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Email)
    {
        @Html.ActionLink("Edycja", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" })
        <span> | </span>
    }
    @Html.ActionLink(" Wstecz", "Index", null, new { @class = "glyphicon glyphicon-hand-left" })
</p>

@section scripts{
    <script src="~/Content/script/Zdjecia.js"></script>
}