﻿@model List<GabinetStomatologiczny.Models.LiczbaPacjentow>

@{
    ViewBag.Active = "About";
    ViewBag.Title = "Statystki";
}

<h2>Pacjenci</h2>


<div style="margin-bottom: 20px;">
    Genruj PDF :
    <a href="Pdf" target="_blank" class="btn btn-success">
        <span class="glyphicon glyphicon-print"></span> Drukuj
    </a>
</div>

<div class="ladowanie"></div>

<div style="font-family: Corbel; font-size: small ;text-align:center; margin:auto">
    <div style="width:100%; height: 100% !important">
        <canvas id="myChart" > </canvas>
    </div>
</div>  


<link href="~/Content/TableStyle.css" rel="stylesheet" />
<link href="~/Content/About.css" rel="stylesheet" />

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>  
    <script src="~/Content/script/Chart.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
}
