﻿@model GabinetStomatologiczny.DAO.Models.Zabieg
@{
    ViewBag.Title = "Podsumowanie";
}
<h2>Utwórz</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>

        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Błąd!</strong> @TempData["error"]
            </div>
        }

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Szukaj pacjęta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="searchQuery" name="SearchQuery"
                       data-autocomplete-source="@Url.Action("Sugestions","Pacjents")" placeholder="Wpisz min 1 znak"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TypZabiegu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TypZabiegu, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypZabiegu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CenaZabiegu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CenaZabiegu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CenaZabiegu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-block btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Wstecz", "Index",null,new {@class= "glyphicon glyphicon-hand-left" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        var setupAutoComplete = function () {
            var input = $("#searchQuery");

            var options = {
                source: input.attr("data-autocomplete-source"),
                select: function (event, ui) {
                    var it = ui.item.label;
                    input.val(it);
                    var form = input.parents("form:first");
                    form.submit();
                }
            };

            input.autocomplete(options);
        };

        setupAutoComplete();
    </script>
}
