﻿@model GabinetStomatologiczny.DAO.Models.Zabieg

@{
    ViewBag.Title = "Kasuj";
}

<h2>@ViewBag.Title</h2>

<h3>Jeseś pewny?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Imię i nazwisko")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wizyta.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypZabiegu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypZabiegu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaZabiegu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaZabiegu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kasuj" class="btn btn-default" /> |
            @Html.ActionLink("Wstecz", "Index",null,new {@class= "glyphicon glyphicon-hand-left" })
        </div>
    }
</div>
