﻿@model GabinetStomatologiczny.DAO.Models.Zabieg

@{
    ViewBag.Title = "Wiecej";
}

<h2>Wiecej</h2>

<div>
    <h4>Zabieg</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.Name("Imię i nazwisko")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wizyta.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypZabiegu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypZabiegu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaZabiegu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaZabiegu)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.ID },new {@class= "btn btn-info" }) |
    @Html.ActionLink("Wstecz", "Index",null,new {@class= "glyphicon glyphicon-hand-left" })
</p>
