﻿@model IEnumerable<GabinetStomatologiczny.DAO.Models.Zabieg>

@{
    ViewBag.Title = "Zabiegi";
    ViewBag.Active = "Pacjenci";
}
<link href="~/Content/Zabieg.css" rel="stylesheet" />
<link href="~/Content/TableStyle.css" rel="stylesheet" />
<h2>Zabiegi</h2>

@if (User.IsInRole("Administrator")
     || User.IsInRole("Lekarz"))
{
    <p>
        @Html.ActionLink("Dodaj zabieg", "Create", null, new { @class = "btn btn-primary dodajNowyZabieg" })
    </p>
}
@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Imie i Nazwisko")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypZabiegu)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.CenaZabiegu)
            </th>
        </tr>
        @if(Model.Where(m => m.Wizyta.Pacjent.Email == User.Identity.Name).ToList().Count() == 0 && User.IsInRole("Pacjent"))
        {
            <tr>
                <td colspan="3" style="text-align:center;">
                    Nie masz zdefiniowanych zabiegów
                </td>
            </tr>
        }
        @foreach (var item in Model)
        {
            if (User.IsInRole("Administrator")
                || User.IsInRole("Lekarz")
                || User.Identity.Name == item.Wizyta.Pacjent.Email)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wizyta.Tytul)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypZabiegu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CenaZabiegu)
                    </td>
                    @if (User.IsInRole("Lekarz"))
                    {
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn btn-primary glyphicon glyphicon-edit", @title="Edycja" }) |
                            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "btn btn-info  glyphicon glyphicon-align-justify", @title="Więcej" }) |
                            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-success glyphicon glyphicon-trash", @title="Kasuj" })
                        </td>
                    }
                </tr>
            }
        }
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        Do tej sekcji dostęp mają jedynie osoby zalogowane
    </div>
}
