﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Wlidacja.css" rel="stylesheet" />
    <link href="~/Content/ToTopPage.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gabinet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Active=="Home"? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@(ViewBag.Active == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown @(ViewBag.Active == "Pacjenci" ? "active" : "")">
                            <a href="@Url.Action("Index", "Pacjenci")" class="dropdown-toggle" data-toggle="dropdown">
                                Osoby <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="@(ViewBag.Title == "Pacjenci" ? "active" : "")">@Html.ActionLink("Pacjenci", "Index", "Pacjents")</li>
                                <li class="@(ViewBag.Title == "Zabiegi" ? "active" : "")">@Html.ActionLink("Zabiegi", "Index", "Zabiegs")</li>
                                <li class="@(ViewBag.Title == "Lekarze" ? "active" : "")">@Html.ActionLink("Lekarze", "Index", "Lekarzs")</li>
                            </ul>
                        </li>
                    }
                    <li class="@(ViewBag.Active == "Wizytas" ? "active" : "")">@Html.ActionLink("Wizyty", "Index", "Wizytas")</li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <li class="@(ViewBag.Active=="Rejestracja" ? "active" : "")"><a href="/Rejestracja/Index"> <span class="glyphicon glyphicon-user"></span>  Nowe konto </a> </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Patryk Rafał </p>
        </footer>
    </div>

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
       title="Do góry" data-placement="left">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/script/GoToTop.js"></script>
</body>
</html>
