﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Zarządzaj" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="@(ViewBag.Active == "Zaloguj" ? "active" : "")"> <a href="/Account/Login"> <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>  Zaloguj </a> </li>
    </ul>
}
