﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<h1 class="text-danger">Wystąpił błąd.</h1>
<h2 class="text-danger">Upewnij się że dane które wprowadzałeś są poprawne.</h2>

