﻿@model PagedList.IPagedList<GabinetStomatologiczny.DAO.Models.Pacjent>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Pacjenci";
    ViewBag.Active = "Pacjenci";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/TableStyle.css" rel="stylesheet" />
<link href="~/Content/Wyszukiwarka.css" rel="stylesheet" />
<link href="~/Content/Pacjent.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<h2>Pacjenci</h2>

@if (TempData["editPacjent"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Pomyślnie edytowano
    </div>
}

<div class="form-group">
    <form id="wyslij" class="wyszukiwarka" method="get" data-ajax="true">
        <span id="searchclear" class="glyphicon glyphicon-remove-circle kasujText kasujTextPacjent"></span>
        <input type="text" id="searchQuery" name="searchQuery"
               data-autocomplete-source="@Url.Action("Sugestions")" placeholder="Wpisz min 1 znak"
               class="form-control pacjent-query" />
        <button type="submit" data-toggle="tooltip" title="Wyszukaj" class="szukajPacjentAjax form-control"><i class="fa fa-search"></i></button>
    </form>
</div>


@Html.Partial("_PatiensParts")

@section scripts{
    <script src="~/Content/script/WyszukiwanieAjaxowe.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/script/AutoComplete.js"></script>
}