﻿@model GabinetStomatologiczny.DAO.Models.Wizyta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wizyta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lekarz.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lekarz.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacjent.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacjent.Imie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
