﻿@model IEnumerable<GabinetStomatologiczny.DAO.Models.Wizyta>
@{
    ViewBag.Title = "Wizyty";
    ViewBag.Active = "Wizytas";
}
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Wizyta.css" rel="stylesheet" />
<link href="~/Content/Wyszukiwarka.css" rel="stylesheet" />

<div id="saveDatabaseInfo"></div>

<div class="ladowanie"></div>

<!--Search form-->
<div class="text-right" id="aktualnyCzas"></div>

@if (User.Identity.IsAuthenticated)
{
    <div class="form-group">
        <form id="wyslij" class="wyszukiwarka" action="@Url.Action("GetEvents")" method="get" data-ajax="true">
            <input type="text" id="searchQuery" name="searchQuery"
                   data-autocomplete-source="@Url.Action("Sugestions")" placeholder="Sprawdź czy jesteś zapisany"
                   class="form-control" />
        <span id="searchclear" class="glyphicon glyphicon-remove-circle kasujText"></span>
        </form>
    </div>
}

<!--End search form-->
<div id="calender"></div>
<!--About-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 style="text-align:center;">Informacje o wizycie</h1>
                <h4 class="modal-title text-center"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
                @if (User.IsInRole("Pacjent") ||
             User.IsInRole("Administrator") ||
             User.IsInRole("Lekarz"))
                {
                    {
                        <div id="action">
                            <button id="btnDelete" class="btn btn-danger btn-sm pull-right">
                                <span class="glyphicon glyphicon-remove"></span> Kasuj
                            </button>
                            <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right: 5px;">
                                <span class="glyphicon glyphicon-pencil"></span> Edytuj
                            </button>
                            @if (User.IsInRole("Administrator"))
                            {
                                <button id="btnSms" class="btn btn-primary btn-sm pull-right" style="margin-right: 5px;">
                                    <span class="glyphicon glyphicon-pencil"></span> Sms
                                </button>
                            }
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>



<!--End about-->
@if (User.Identity.IsAuthenticated && User.IsInRole("Pacjent")
                                         || User.IsInRole("Administrator")
                                         || User.IsInRole("Lekarz"))
{
    <!--Eror-->
    <div id="myModalError" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-warning">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title text-center"><span id="eventTitle">Błąd</span></h1>
                </div>
                <div class="modal-body">
                    <h4 style="color:red;">Wybrana data musi być późniejsza</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Eror-->

    <!--Send sms-->
    <div id="myModalSendSms" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-info">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Wyslij sms</h4>
                </div>
                <div class="modal-body">
                    <form class="col-md-12 form-horizontal">
                        <label for="inputDo">Do : </label>
                        <input type="text" class="form-control" id="inputDo" placeholder="Nr telefonu" />
                        <div id="errorSmsTo"></div>
                        <label for="inputDo">Wiadomość : </label>
                        <textarea type="text" class="form-control" id="inputWiadomosc" placeholder="Wiadomość"></textarea>
                        <div id="errorSmsWiadom"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="button" id="btnSmsSend"
                            class="btn btn-success float-right" data-loading-text="Wysyłanie...">
                        Wyslij
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--End send sms-->

     <!-- Delete coonfirm modal -->
    <div class="modal fade" id="deleteConfirmModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header modal-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kasowanie</h4>
                </div>
                <div class="modal-body">
                    <p>Czy napewno chcesz skasować ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-danger" id="kasujElement" data-dismiss="modal" data-loading-text="Kasowanie...">Kasuj</button>
                </div>
            </div>
        </div>
    </div>
    <!--  END Delete coonfirm modal -->
    <!--Add Edit-->
    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-info">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Zapisz</h4>
                </div>
                <div class="modal-body">
                    <form class="col-md-12 form-horizontal" data-ajax="true">
                        <input type="hidden" id="hdEventID" value="0" />
                        <div class="form-group">
                            <label>Początek</label>
                            <div class="input-group date" id="dtp1">
                                <input type="text" id="txtStart" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Lekarz"))
                        {
                            <div class="form-group">
                                <label>Imię nazwisko</label>
                                <div class="input-group" id="dtp2">
                                    <input type="text" id="tytul"
                                           data-autocomplete-source="@Url.Action("Sugestions","Pacjents")"
                                           class="form-control"
                                           placeholder="Wyszukaj pacjęta" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                </div>
                            </div>
                        }
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Zamknij</button>
                    <button type="button" id="btnSave"
                            class="btn btn-success float-right" data-loading-text="Zapisywanie...">
                        Zapisz
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--End Add Edit-->
}
@section scripts{
    <script src="~/Scripts/locale/pl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/script/KalendarzWizyt.js"></script>
    <script src="~/Content/script/AutoComplete.js"></script>
    <script src="~/Content/script/AutoComplSearchWizyta.js"></script>
}
