﻿@using GabinetStomatologiczny.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj się";
    ViewBag.Active = "Zaloguj";
}
<div class="row wysrodkowanieLoginForm">
    <div class="col-md-4 col-md-push-4 center-block loginForm modal-info">
        <h2>@ViewBag.Title.</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    <span class="form-control-feedback col-md-2 control-label">
                        <a data-toggle="tooltip" class="tooltipLink" data-original-title="Podaj email">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </span>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <span class="form-control-feedback col-md-2 control-label">
                        <a data-toggle="tooltip" class="tooltipLink" data-original-title="Podaj hasło">
                            <span class="glyphicon glyphicon-lock"></span>
                        </a>
                    </span>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Hasło" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" value="Zaloguj" class="btn-block btn btn-success" />
                    </div>
                </div>
                //Enable this once you have account confirmation enabled for password reset functionality
            }
        </section>
    </div>
</div>
<link href="~/Content/LoginInput.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}